/* a lot of help from https://www.youtube.com/watch?v=wsTv9y931o8 */

html{
    background-color:navajowhite;
}

html, body {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #d35400; 
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style each list item */
nav ul li {
    flex: 1;
    text-align: center;
}

/* Style the links */
nav ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* hover effect */
nav ul li a:hover {
    background-color: #e67e22;
}

/* add some padding to the body to prevent content from being hidden behind the fixed nav */
body {
    padding-top: 60px;
}

header {
    background-color: #f39c12;
    color: white;
    padding: 20px;
    text-align: center;
}

/* container is as a whole the left and the right side of the index page */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* left side*/
.left {
  flex: 1;
  padding: 10px;
border: 10px dashed brown;
}

/* right side*/
.right {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* space between the column */
  border: 10px dashed brown;
}

.image-block {
  text-align: center;
}

.image-block img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

main {
    text-align: center;
}