/* a lot of help from https://www.youtube.com/watch?v=wsTv9y931o8 */

html{
    background-color:navajowhite;
}

html, body {
    margin: 0;
    padding: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #d35400; 
    position: fixed;
    top: 0;
    width: 100%;
}

/* style each list item */
#navbar ul li {
    flex: 1;
    text-align: center;
}

/* style the links */
#navbar ul li a {
    display: flex;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    justify-content: center;
}

/* hover effect */
#navbar ul li a:hover {
    background-color: #e67e22;
}

/* add some padding to the body to prevent content from being hidden behind the fixed nav */
body {
    padding-top: 60px;
}

header {
    background-color: #f39c12;
    color: white;
    padding: 20px;
    text-align: center;
}

/* container is as a whole the left and the right side of the index page */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* left side*/
.left {
  flex: 1;
  padding: 10px;
border: 10px dashed brown;
}

/* right side*/
.right {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px; /* space between the column */
  border: 10px dashed brown;
}

/* center text for the image block */
.image-block {
  text-align: center;
}

/* customize the img for the imgae block*/
.image-block img {
  height: auto;
  border-radius: 8px;
}

/* when hovering on the img(right) make it 5% bigger in .3 seconds */
.right .image-block img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* center everything in main */
main {
    text-align: center;
}