@charset "utf-8";

/*Colors:
#A16B56 - brown
#E0A370 - orange
#DEC584 - caramel yellow
#E2D7A7 - vanilla yellow
#709F9D - cyan
#567D89 - dark cyan
*/

/* make new font 1 */
@font-face {
    font-family: 'Retro';
    src: url('../fonts/retrovert/Retroverrt.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

/* make new font 2 */
@font-face {
    font-family: 'Oldschool';
    src: url('../fonts/old_school_class/OldSchoolClass\ 3001.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E2D7A7;
}

/* start of the navigationBar */
#navigationBar ul {
    display: flex;
    margin: 0rem;
    padding: 0rem;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    list-style-type: none;
    background-color: #A16B56;
    position: fixed;
    width: 100%;
    border-style: dashed;
    border-color: #DEC584;
}

#navigationBar ul li {
    flex: 1;
    text-align: center;
}

/* style the links/boxes */
#navigationBar ul li a {
    display: flex;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oldschool';
    justify-content: space-around;
}

/* on hover change color */
#navigationBar ul li a:hover {
    background-color: #E0A370;
}

/* end navigationBar */

/* set the heading to be spaced out from the top because of navigationBar and set font and size */
h1 {
    margin-top: 8rem;
    font-family: 'Retro';
    font-size: 5rem;
    padding-bottom: 1.5rem;
    background-color: #DEC584;
}

#textHook {
    margin-top: -40px;
    margin-bottom: 50px;
}

/*set most of the text to be alligned center and have a unique font*/
header,
main,
footer {
    text-align: center;
    font-family: 'Oldschool';
}

#page {
    display: flex;
    justify-content: space-between;
}

#aboutSection {
    width: 40%;
    padding: 1rem;
    line-height: 2;
    background-color: #DEC584;
    border-style: dashed;
    border-color: #A16B56;
}

#imageGallerySection {
    width: 40%;
    padding: 1rem;
    background-color: #DEC584;
    border-style: dashed;
    border-color: #A16B56;

}

/* start of the imageGallery link bar */
#imageGallery {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #A16B56;
    text-align: center;
}

#imageGallery li {
    flex: 1;
    text-align: center;
}

/* style the links/boxes */
#imageGallery li a {
    display: flex;
    padding: 1rem;
    color: #709F9D;
    font-family: 'Oldschool';
    justify-content: space-around;
}

/* on hover change color */
#imageGallery li a:hover {
    color: #567D89;
}

/* end the imageGallery link bar */

#companyInfo {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    line-height: 2;
    background-color: #DEC584;
    border-style: dashed;
    border-color: #A16B56;
}

#companyLeftImage {
    position: absolute;
    left: 20px;
    top: 320px;
}

#companyRightImage {
    position: absolute;
    left: 1315px;
    top: 320px;
}

.productGroup {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.product {
    text-align: center;
    width: 200px;
    padding: 10px;
    border: 5px solid #A16B56;
    background-color: #DEC584;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.name, .price {
    margin: 10px 0;
    font-weight: bold;
}

.add-btn {
    margin-top: 10px;
}

#checkout {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}