html {
  height: 100%;
  background-image: url("../images/cleanposter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

body {
  margin: 0;
  padding-top: 40px;
  background-size: cover;
  color: #fff;
  font-family: 'Rockwell', 'Clarendon', serif;
  text-align: center;
}

main,
footer {
  position: relative;
  width: 100%;
  background: transparent;
}

.tagline {
  color: black;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.author small {
  display: block
}

.author {
  color: #e50914;
  font-size: 20px;
  margin-top: 180px;
  margin-bottom: -20px;
  text-transform: uppercase;
}

.actors h4 {
  margin-top: -8px;
  font-size: 8px;
  text-transform: uppercase;
}

.actors em {
  display: block;
  font-size: 2.2em;
  margin-top: -3px;
}

.title h1 {
  font-size: 60px;
  font-weight: 900;
  color: #e50914;
  margin: 40px 0 20px;
  text-transform: uppercase;
  letter-spacing: -7px;
  line-height: 1.1;
  margin-top: -10px;
}

.title h1 small#unchained {
  display: block;
  font-weight: normal;
  letter-spacing: 13px;
  font-size: 0.3em;
}

.additional-cast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 equal columns, 1fr means that each grid will get equal space (couldt get flexbox working so tried this, this video helped me:https://www.youtube.com/watch?v=qTGbWfEEnKI */
  gap: 2px;
  /* very small spacing between grids */
  max-width: 250px;
  margin: -20px auto;
  text-align: center;
}

.additional-cast .actor {
  text-transform: uppercase;
  font-size: 6px;
  line-height: 1.1;
}

.additional-cast .actor span {
  display: block;
  margin: 0;
  font-weight: normal;
}

.additional-cast .actor b {
  display: block;
  margin: 0;
  font-weight: bold;
}

.extra-cast h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.big-text {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 8px;
  line-height: 1.3;
}

.big-text h4 {
  font-size: 6px;
  color: gray;
  margin: 0;
  line-height: 1.2;
  text-transform: uppercase;
}

.big-text small {
  font-size: 0.6em;
}

.release-date h3 {
  color: #e50914;
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.website {
  color: gray;
  font-size: 8px;
  position: absolute;
  bottom: -20px;
  left: 530px;
}

.facebook {
  color: gray;
  font-size: 8px;
  position: absolute;
  bottom: -20px;
  left: 640px;
}